#banners {
  height: 400px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(../images/bg-banners.png) no-repeat center; 
}
  #banners .slide {
    position: absolute;
    left: 50%;
    margin-left: -990px;
    min-width: 1980px;
  }
  #banners .slide-item {
      height: 500px;
      overflow: hidden;
  }
