footer {
  background: url(../images/bg-footer.jpg) repeat center;
  margin-top: 50px;
  border-top: 5px solid #cdded3;
  font-family: 'Open Sans', sans-serif;
}
footer .int {
  background: url(../images/img-footer.png) no-repeat center bottom;
  min-height: 400px;
}
footer address {
  text-decoration: none;
  text-transform: uppercase;
  color: #336f48;
  width: 370px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  font-style: normal;
}
footer address a {
  text-transform: lowercase;
  text-decoration: none;
  color: #336f48;
}
footer #social {
  background: #336f48;
  height: 50px;
  border-bottom: 5px solid #2a613c;
  position: relative;
  top: -50px;
}
#social p {
  font-size: 15px;
  position: relative;
  top: 11px;
  color: #fff;
  padding: 0 20px;
  font-weight: bold;
  margin-bottom: 0;
}
#social .social-first {
  margin-right: 20px;
  border-right: 1px solid #fff;
  line-height: 18px;
  float: left;
}
#social .phone {
  width: 32px;
  height: 32px;
  margin: 0 20px;
}
#social p a {
  margin-left: 20px;
  position: relative;
  bottom: 2px;
}

