
/* Frase destaque */
#frase-destaque {
  height: 120px;
  background: #e0f4ea;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}
  .frase-slide {
    background: url(../images/aspa-direita.jpg) no-repeat 880px 70px;
  }
    .frase-item {
      width: 100%;
      padding: 20px 145px;
      background: url(../images/aspa-esquerda.jpg) no-repeat 80px 20px;
    }
      .frase-item p {
        font-size: 18px;
        margin-bottom: 0;
      }

      .frase-item .frase-assinatura {
        font-size: 12px;
        font-weight: bold;
        border-top: 1px solid #a6beae;
      }

/* CTAS - Call To Action */
#ctas {
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
}
#ctas .cta-item {
  float: left;
  margin-right: 26px;
  width: 310px;
}
#ctas .cta-item:last-child {
  margin-right: 0;
}
#ctas .cta-image {
  border: 1px solid #347049;
  overflow: hidden;
  width: 310px;
  height: 167px;
  margin-bottom: 20px;
}
.cta-image img {
  width: 310px;
  height: 167px;
}
#ctas .tt-cta {
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  margin: 0;
  background: #336f48 url(../images/bg-title.jpg) no-repeat left top;
  position: relative;
  left: 20px;
  top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  text-align: left;
  font-size: 18px;
  width: 250px;
}
#ctas .cta-description strong {
  color: #334f48;
  border-bottom: 1px solid #ff9601;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
}
#ctas .cta-description p {
  margin-top: 20px;
  color: #7f7f7f;
  font-size: 14px;
}
