.interna {
  .tt-interna {
    height: 97px;
    background: #ff9c01;
    border-top: 5px solid #ee8b12;
      margin: 0 0 37px 0;
    h3 {
      line-height: 97px;
      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      font-family: 'century_gothicregular';
      margin: 0;
    }
  }
  h4.tt-content {
    color: #336f48;
  }
  strong {
    color: #ff9c01;
  }

  .interna-content {
    width: 647px;
    float: left;
    color: #7f7f7f;
    a {
      color: #ff9c01;
      font-weight: bold;
    }
  }
  aside {
    float: right;
    width: 287px;
  }
}
