body {
  background: #fff;
}

@font-face {
    font-family: 'century_gothicregular';
    src: url('../font/Century Gothic-webfont.eot');
    src: url('../font/Century Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/Century Gothic-webfont.woff2') format('woff2'),
         url('../font/Century Gothic-webfont.woff') format('woff'),
         url('../font/Century Gothic-webfont.ttf') format('truetype'),
         url('../font/Century Gothic-webfont.svg#century_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.logo {
  text-indent: -9000px;
  overflow: hidden;
  background: url(../images/logo.png);
  position: relative;
  top: 17px;
  margin: 0;
  width: 168px;
  height: 116px;
  margin: 0 auto;
}

.int, nav ul {
  margin: 0 auto;
  width: 984px;
}

main {
  overflow: hidden;
}

