nav {
  background: url(../images/bg-nav.jpg) repeat-x center;
  height: 50px;
}
nav li {
  display: block;
  float: left;
  background: url(../images/nav-div.jpg) no-repeat right center;
  padding-right: 2px;
  height: 50px;
  padding: 0 25px;
}
nav li:last-child {
  background: none;
  padding-right: 0;
}
nav a {
  font-family: 'century_gothicregular';
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  position: relative;
  text-shadow: 1px 1px 1px #333;
  top: 1px;
  text-transform: uppercase;
  line-height: 48px;
}
nav a:hover, nav a.active {
  border-top: 2px solid #ff9c01;
  border-bottom: 2px solid #ff9c01;
  line-height: 44px;
  color: #fff;
}
nav ul {
  overflow: hidden;
  margin: 0 auto;
}
