.list {
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    float: left;
    width: 50%;
    margin-top: 30px;
    width: 310px;
  }
  li:nth-child(2n) {
    float: right;
  }
}
.list .list-description strong {
  color: #334f48;
  display: block;
  border-bottom: 1px solid #ff9601;
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 18px;
}
.list .list-image { 
  border: 1px solid #347049;
  overflow: hidden;
  margin-bottom: 20px;
  display: block;
  width: 310px;
  overflow: hidden;
}
.list .list-description p {
  margin-top: 20px;
  color: #7f7f7f;
  font-size: 14px;
}
